body {
    font-family: 'Lucida Console', monospace;
    font-size: 25px;
}
a {
    color: #000;

}
.container {
    width: 800px;
    margin: 0 auto;
}

.nav_link {
    display: flex;
    flex-direction: column;
}
.nav_link-item {
    margin-bottom: 14px;
}

.projects li {
    margin-bottom: 10px;
}
