.btn {
    font-size: 40px;
    font-weight: 800;
    
    span {
        display: inline-block;
        padding: 17px 57px 15px 17px;
        background-color: $green;
        margin-left: 19px;
        position: relative;

        &::before {
             content: "";
             position: absolute;
             width: 20px;
             height: 1px;
             background-color: #fff;
             top: 50%;
             left: -10px;
            }

        &:after {
            content: "";
            position: absolute;
            width: 25px;
            height: 21px;
            background-image: url(../images/arrows-right.svg);
            top: 50%;
            right: 17px;
            transform: translateY(-50%);
        }
    }
    @include breakpoint ($mobile-bp) {
        font-size: 30px;
        margin-top: 10px;
    }
}