.footer {
    padding: 285px 0 34px;
    text-align: center;

    .btn {
        span {
            padding-right: 17px;
            
            &::after {
                display: none;
            }
        }
    }
    @include breakpoint($forholder-bp) {
        padding: 100px 0 34px;
    }
}

.footer__copy {
    padding-top: 27px;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.05px;
    opacity: 0.5;
}