.menu {
    padding-top: 40px;

    a {
        padding: 15px;

        span {
            display: block;
            padding-top: 5px;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 3px;
            text-transform: capitalize;
        }
        // @include breakpoint($laptop-bp) {
        //     padding: 3px;
        // }
        
    }

    

    @include breakpoint($desktop-bp) {
        padding-top: 10px;
    }


    
}
.menu__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &.show {
        transform: translateX(0);
    }

    @include breakpoint($tablet-bp) {
        width: 101px;
        height: 60vh;

        background-color: #171919;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 25;
        transition: transform .4s ease-in-out;
        transform: translateX(-100%);
        
    }

    @include breakpoint($mobile-bp) {
        height: 100vh;
    }
}

.menu__burger {
    display: none;
    position: absolute;
    right: 20px;
    top: 75px;
    z-index: 20;
    cursor: pointer;   

    @include breakpoint($tablet-bp) {
        display: block;
        top: 10px;
    }

    @include breakpoint($mobile-bp) {
        right: 5px;
    }
}




