<header class="header">
    <div class="header__left">
        <div class="header__logo">
            <img src="assets/images/header_logo.svg" alt="">
            <div class="logo__title">Super <strong>PETS</strong> </div>
        </div>
    </div>
    <div class="header__right">
        <nav class="nav">
            <a href="#Services" class="nav__link">Услуги</a>
            <a href="#Overview" class="nav__link">Обзор</a>
            <a href="#Questions" class="nav__link">Вопросы</a>
            <a href="#Staff" class="nav__link">Персонал</a>
            <a href="#Contacts" class="nav__link">Контакты</a>
        </nav>
        <div class="menu__list">
            <a href="#Services" class="nav__link">Услуги</a>
            <a href="#Overview" class="nav__link">Обзор</a>
            <a href="#Questions" class="nav__link">Вопросы</a>
            <a href="#Staff" class="nav__link">Персонал</a>
            <a href="#Contacts" class="nav__link">Контакты</a>
        </div>
        <div id="menu-toggle">
            <div id="hamburger">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div id="cross">
              <span></span>
              <span></span>
            </div>
        </div>
    </div>
</header>










