<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__logo">
                <img src="./assets/images/flowers-logo-white.svg" alt="flowers-logo">
            </div>
            <nav class="navbar navbar__footer">
                <div class="navbar__item"> <a href="/">О нас</a> </div>
                <div class="navbar__item"> <a href="/">Букеты</a> </div>
                <div class="navbar__item"> <a href="/">Отзывы</a> </div>
                <div class="navbar__item"> <a href="/">Доставка и оплата</a> </div>
                <div class="navbar__item"> <a href="/">Контакты</a> </div>
            </nav>
            <div class="footer__tel"><img src="assets/images/mobile.svg" width="12" alt="">+ 375 (29) 123-12-31</div>
        </div>
    </div>
</footer>