<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">
                <img src="./assets/images/flowers-logo.svg" alt="flowers-logo">
            </div>
            <nav class="navbar">
                <div class="navbar__item"> <a href="/">О нас</a> </div>
                <div class="navbar__item"> <a href="/">Букеты</a> </div>
                <div class="navbar__item"> <a href="/">Отзывы</a> </div>
                <div class="navbar__item"> <a href="/">Доставка и оплата</a> </div>
                <div class="navbar__item"> <a href="/">Контакты</a> </div>
            </nav>
        </div>
    </div>
</header>